
@{
    ViewBag.Title = "ChiaSe";
}
<div class="flex items-center">
    <!-- Thanh ngang bên trái -->
    <div class="flex-1 h-1 bg-[#ce3235]"></div>

    <!-- Khối chữ trên nền màu #00bce4, với khoảng cách giữa các phần tử -->
    <span class="bg-[#ce3235] text-white px-4 py-2 font-bold uppercase tracking-widest text-lg mx-4">
        CHIA SẺ
    </span>

    <!-- Thanh ngang bên phải -->
    <div class="flex-1 h-1 bg-[#ce3235]"></div>
</div>


