
@{
    ViewBag.Title = "ChiaSe";
}

<div class="flex items-center justify-center my-10">
    <div class="h-px bg-[#ce3235] flex-1"></div>
    <span class="text-[#ce3235] font-semibold text-lg tracking-widest mx-4 uppercase">
        CHIA SẺ
    </span>
    <div class="h-px bg-[#ce3235] flex-1"></div>
</div>

