@{
    Layout = "~/Views/Shared/_LayoutGiangVien.cshtml";
}
@{
    ViewBag.Title = "Home Giảng Viên";
}

<h2>Home dành cho Giảng Viên</h2>
<!-- Nút Đăng Xuất dưới dạng liên kết -->
<!--<a href="@Url.Action("DangXuat", "DangNhap")" class="btn btn-danger">Đăng xuất</a>-->