@{
    Layout = "~/Views/Shared/_LayoutHocVien.cshtml";
}
@{
    ViewBag.Title = "Home Học Viên";
}

<h2>Home dành cho Học Viên</h2>
<!-- Nút Đăng Xuất dưới dạng liên kết -->
<!--<a href="@Url.Action("DangXuat", "DangNhap")" class="btn btn-danger">Đăng xuất</a>-->