@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewBag.Title = "Home Admin";
}

<h2>Home dành cho Admin</h2>
<!-- Nút Đăng Xuất dưới dạng liên kết -->
<!--<a href="@Url.Action("DangXuat", "DangNhap")" class="btn btn-danger">Đăng xuất</a>-->